<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.mapper.DeliveryOrderMapper">

    <insert id="insert">
        insert into delivery_orders
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="contractId != null">contract_id,</if>
            <if test="productId != null">product_id,</if>
            <if test="productInfo != null">product_info,</if>
            <if test="productQuantity != null">product_quantity,</if>
            <if test="logisticsInfo != null">logistics_info,</if>
            <if test="comment != null">comment,</if>
            <if test="deliveryStatus != null">delivery_status,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="contractId != null">#{contractId},</if>
            <if test="productId != null">#{productId},</if>
            <if test="productInfo != null">#{productInfo},</if>
            <if test="productQuantity != null">#{productQuantity},</if>
            <if test="logisticsInfo != null">#{logisticsInfo},</if>
            <if test="comment != null">#{comment},</if>
            <if test="deliveryStatus != null">#{deliveryStatus},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
        </trim>
    </insert>

    <update id="update">
        update delivery_orders
        <set>
            <if test="contractId != null">contract_id = #{contractId},</if>
            <if test="productId != null">product_id = #{productId},</if>
            <if test="productInfo != null">product_info = #{productInfo},</if>
            <if test="productQuantity != null">product_quantity = #{productQuantity},</if>
            <if test="logisticsInfo != null">logistics_info = #{logisticsInfo},</if>
            <if test="comment != null">comment = #{comment},</if>
            <if test="deliveryStatus != null">delivery_status = #{deliveryStatus},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </set>
        where delivery_order_id = #{deliveryOrderId}
    </update>


</mapper>
